:host {
    display: block;
    background: var(--light);
    border-radius: 8px;
    padding: 1em;
}

.field {
    display: flex;
    flex-direction: column;
}

.field:not(:last-child) {
    margin-bottom: 1em;
}

.ctrl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}