<header class="week-header">
    <div class="title">
        <h2>{{ title }}</h2>
        <input pInputText [(ngModel)]="title" />
    </div>
    <button pButton pRipple (click)="showAddDialog()"><i class="fa-solid fa-plus"></i></button>
</header>

<article class="week">
    <ng-container *ngFor="let weekTask of weekTasks; index as w">
        <section class="day" pDroppable (onDrop)="drop(w)">
            <h3>{{ weekTask.week | week }}</h3>
            <ul class="tasks">
                <ng-container *ngFor="let task of weekTask.tasks; index as t">
                    <li class="task" [ngClass]="task.state ? '' : 'complete'"
                        pDraggable (onDragStart)="dragStart(w, t)">
                        <p>{{ task.tasker }}
                            <button class="btn-link name" (click)="showEditDialog(task)">{{ task.name }}</button>
                        </p>
                    </li>
                </ng-container>
            </ul>
        </section>
    </ng-container>
</article>

<app-add-task [visible]="isAdd" (onSave)="add($event)" (onVisibleChange)="isAdd = $event"></app-add-task>
<app-edit-task [visible]="isEdit" [task]="editTask" (onSave)="edit($event)" (onDelete)="delete($event)" (onVisibleChange)="isEdit = $event"></app-edit-task>