@layer normalize;
@import "normalize.css" layer(normalize-reset);
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
    --primary: #E59560;
    --secondary: #BACEC1;
    --light: #F6F4E8;
    --dark: #1D3124;
}

body {
    color: var(--dark);
}

.w-100 {
    width: 100%;
}

.btn-link {
    background: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a2bdab;
}